<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Tourism</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,700%7CPoppins:300,400,500,700,900">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=VWI6DTubjNNfUCmg97kP8WburAwojTRW"></script>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static "images/ie8-panel/warning_bar_0000_us.jpg" %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div><a class="section section-banner d-none d-xl-block" href="#" target="_blank" style="background-image: url({% static "images/background-02-1920x60.jpg" %}); background-image: -webkit-image-set( url({% static "images/background-02-1920x60.jpg" %}) 1x, url({% static "images/background-02-3840x120.jpg" %}) 2x )"><img src="{{ MEDIA_URL }}{{ img.1.img }}" srcset="{{ MEDIA_URL }}{{ img.1.img }} 1x, {{ MEDIA_URL }}{{ img.1.img }} 2x" alt="" width="1600" height="310"></a>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse bg-gray-dark">
              <div class="rd-navbar-aside">
                <ul class="list-inline navbar-contact-list">
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon text-middle fa-phone"></span></div>
                      <div class="unit-body"><a href="tel:#">+1 800 123 45 67</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon text-middle fa-envelope"></span></div>
                      <div class="unit-body"><a href="mailto:#">info@dahengduan.org</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon text-middle fa-map-marker"></span></div>
                      <div class="unit-body"><a href="#">甘肃省兰州市城关区天水南路222号</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="social-links">
                    {% if user.is_authenticated %}
                    <li><a href="#">{{user}}</a></li>
                        <li><a href="{% url 'account_logout' %}">注销</a></li>

                    {% else %}
                        <li><a href="{% url 'account_login' %}">登录</a></li>
                    <li><a href="{% url 'account_signup' %}">注册</a></li>

                    {% endif %}
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href={% url "mainapp:index" %}><img class="brand-logo-dark" src="{% static "images/logo-hengduan-200x34.png" %}" alt="" width="100" height="17"/><img class="brand-logo-light" src="{% static "images/logo-hengduan-200x34.png" %}" alt="" width="100" height="17"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href={% url "mainapp:index" %}>Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href={% url "mainapp:ethnic_page" %}>Ethnic</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href={% url "mainapp:tourism_page" %}>Tourism</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href={% url "mainapp:contacts" %}>Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-intro context-dark">
        <div class="intro-bg" style="background: url({{ MEDIA_URL }}{{ img.7.img }}) no-repeat;background-size:cover;background-position: top center;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">旅游资源</h1>
              <p class="intro-description wow fadeInRight">走遍大横断</p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Centered-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>横断地质风貌总览</h3>
              <figure class="figure-light offset-top-30"><img class="img-centered" src="{{ MEDIA_URL }}{{ img.8.img }}" alt="" width="770" height="207"/>
                <figcaption>
                  <p>邛崃山风光</p>
                </figcaption>
              </figure>
              <p>横断山脉位于中国西部地槽区与介于上述地槽区和中国东部地台区之间的康滇地轴。印支运动使区内褶皱隆起成陆，并形成一系列断陷盆地。盆地中堆积有侏罗系、白垩系地层。燕山运动又发生褶皱和断裂。直到第三纪中期，地壳缓慢上升，经受了长期剥蚀夷平，形成广阔夷平面。第三纪末期至第四纪初期，构造运动异常活跃，统一的夷平面变形、解体，岭谷高差趋于明显。第四纪经历多次冰川作用。区内丘状高原面和山顶面可连接为一个统一的“基面”，“基面”上有山岭，下为河谷和盆地；横断山脉岭谷高差悬殊。邛崃山岭脊海拔3000米以上，主峰四姑娘山海拔6250米，其东南坡相对高差达5000余米。</p>
            </div>
          </div>
        </div>
      </section>
      <!--maptest-->
      <section class="section section-lg bg-default">
        <div class="container">
              <h3>景点大地图</h3>
          </div>
        <div class="container" id="maptest" style="height: 700px; width: 100% ">

        </div>
      </section>
      <section class="section section-lg bg-default">

          <div class="container" style="background: #f3f4f4">
          <details>
              <summary>点击展开评论区</summary>
              {% for comment in comment_list %}
              <div>
                <h5>{{comment.user}}: {{comment.content}}</h5>
              </div>
              {% endfor %}
              <form action="{% url 'comments:post_comment' %}" method="post" class="comment-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                    <form target="iframe">
                        <label>评论：</label>
                  {{ form|crispy }}
                  {{ form.content.errors }}
                    </form>
                    <button type="submit" style="float: right; border-radius:15px; margin-top: -10px">发表</button>
                </div>
              </div>
            </form>
          </details>

          </div>

      </section>

      {% for i in attractions %}
      {% if forloop.counter|divisibleby:2 %}
      <section class="section section-lg bg-default" id="{{i.name}}">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>{{i.name}}</h3>
              <div class="row row-30">
                <div class="col-md-6"><img src="{{MEDIA_URL}}{{i.img}}" alt="" width="770" height="240"/>
                </div>
                <div class="col-md-6">
                  <p>{{i.intro}}</p>
                </div>
              </div>
            </div>
            <div id="{{ i.intro }}" style="height: 200px; width: 400px; float: right; margin-top: 77px">
          </div>
          </div>
        </div>
      </section>

      {% else %}
      <section class="section section-lg bg-default" id="{{i.name}}">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h3>{{i.name}}</h3>
              <div class="row row-30 flex-md-row-reverse">
                <div class="col-md-6"><img src="{{MEDIA_URL}}{{i.img}}" alt="" width="770" height="240"/>
                </div>
                <div class="col-md-6">
                  <p>{{i.intro}}</p>
                </div>
              </div>
            </div>
            <div id="{{ i.intro }}" style="height: 200px; width: 400px; float: right; margin-top: 77px">
          </div>
          </div>
        </div>

      </section>
      {% endif %}
      {% endfor %}
      <a class="section section-banner" href="#" target="_blank" style="background-image: url({% static "images/background-01-1920x310.jpg" %}); background-image: -webkit-image-set( url({% static "images/background-01-1920x310.jpg" %}) 1x, url({% static "images/background-01-3840x620.jpg" %}) 2x )"><img src="{{ MEDIA_URL }}{{ img.0.img }}" srcset="{{ MEDIA_URL }}{{ img.0.img }} 1x, {{ MEDIA_URL }}{{ img.0.img }} 2x" alt="" width="1600" height="310"></a>

      <footer class="section footer-classic section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-3 wow fadeInLeft">
              <!--Brand--><a class="brand" href="#"><img class="brand-logo-dark" src="{% static "images/logo-hengduan-200x34.png" %}" alt="" width="100" height="17"/><img class="brand-logo-light" src="{% static "images/logo-hengduan-200x34.png" %}" alt="" width="100" height="17"/></a>
              <p class="footer-classic-description offset-top-0 offset-right-25">大横断历史文化研究团队是一个专门研究历史文化的学术团队，致力于探讨历史与文化之间的关系，并运用现代研究方法对历史和文化进行研究。该团队的研究领域包括：历史文化、文化遗产、历史地理、文化人类学等。</p>
            </div>
            <div class="col-lg-3 col-sm-8 wow fadeInUp">
              <P class="footer-classic-title">contact info</P>
              <div class="d-block offset-top-0">甘肃省兰州市城关区<span class="d-lg-block">天水南路222号</span></div><a class="d-inline-block accent-link" href="#">info@dahengduan.org</a><a class="d-inline-block" href="#">+1 800 123 45 67</a>
              <ul>
                <li>工作日:<span class="d-inline-block offset-left-10 text-white">9:30 AM - 9:00 PM</span></li>
                <li>周六:<span class="d-inline-block offset-left-10 text-white">10:00 AM - 9:00 PM</span></li>
                <li>周日:<span class="d-inline-block offset-left-10 text-white">10:00 AM - 3:00 PM</span></li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay=".3s">
              <P class="footer-classic-title">Quick Links</P>
              <ul class="footer-classic-nav-list">
                <li><a href="{% url 'mainapp:index' %}">Home</a></li>
                <li><a href="{% url 'mainapp:index' %}">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="{% url 'mainapp:contacts' %}">Contacts</a></li>
              </ul>
            </div>

          </div>
        </div>

      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static "js/core.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
<script type="text/javascript">

    var map = new BMap.Map("maptest");
    map.setMapType(BMAP_SATELLITE_MAP);
    map.centerAndZoom(new BMap.Point(104, 31.5),7);
    map.enableScrollWheelZoom(true);
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });
    map.addControl(navigationControl);

    function get_location() {

        var address_latitude ={{ address_latitude |safe}};
        var address_longitude ={{ address_longitude|safe }};
        var address_data ={{ address_data |safe}};


        var point = []; //存放标注点经纬信息的数组
        var marker = []; //存放标注点对象的数组
        for (var i = 0; i < address_longitude.length; i++) {
            point[i] = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点
            marker[i] = new BMap.Marker(point[i]); //按照地图点坐标生成标记
            map.addOverlay(marker[i]);
        }

        for (i = 0; i < marker.length; i++) {
            (function () {
                var index = i;
                marker[index].addEventListener('click', function () {
                    this.openInfoWindow(new BMap.InfoWindow(address_data[index]));
                });
            })();
        }
    }
    get_location()
</script>
{% for i in attractions %}
    <script type="text/javascript">

    var map = new BMap.Map("{{ i.intro }}");
    map.setMapType(BMAP_SATELLITE_MAP);
    map.centerAndZoom(new BMap.Point({{ i.longitude }}, {{ i.latitude }}),13);
    map.enableScrollWheelZoom(true);
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });
    map.addControl(navigationControl);

    function get_location() {

        var address_latitude ={{ address_latitude |safe}};
        var address_longitude ={{ address_longitude|safe }};
        var address_data ={{ address_data |safe}};


        var point = []; //存放标注点经纬信息的数组
        var marker = []; //存放标注点对象的数组
        for (var i = 0; i < address_longitude.length; i++) {
            point[i] = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点
            marker[i] = new BMap.Marker(point[i]); //按照地图点坐标生成标记
            map.addOverlay(marker[i]);
        }

        for (i = 0; i < marker.length; i++) {
            (function () {
                var index = i;
                marker[index].addEventListener('click', function () {
                    this.openInfoWindow(new BMap.InfoWindow(address_data[index]));
                });
            })();
        }
    }
    get_location()
</script>
{% endfor %}